/* Layout do site */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    display: grid;
    grid-template-rows: 70px 30px 1fr 70px;
    grid-template-columns: 1fr;
    height: 100vh;
}

/* Header */
header {
    background-color: #e1e1e1;
    grid-column: 1/ -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    flex-grow: 1;
    margin-left: 5px;
    color: #9231be
}

header form button img {
    width: 90%;
    margin-top: -3px;
}

header form button img:hover {
    width: 100%;
}

header form {
    margin-right: 7px;
    display: flex;
}

input {
    width: 180px;
    height: 28px;
}


button {
    width: 33px;
    height: 30px;
    background: #ffffff00;
    border: 0;
}

nav {
    display: flex;
    grid-column: 1/-1;
    background-color: #50e6ff;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: blink;
    color: #9231be;
}

nav a:hover {
    color: white;
    background-color: #9231be;
    border-radius: 50%;
}

/* Main */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px;
    justify-items: center;
    padding-bottom: 170px;
    margin-top: 30px;
}

main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 256px;
    justify-content: start;
    width: 80%;
    border: 2px solid #50e6ff;
    box-shadow: 3px 2px 4px 2px #ac4ad5;
}

main div:hover {
    background-color: #d09fe6;
    box-shadow: 3px 2px 3px 2px cyan;
}

main div:active {
    background-color: cyan;
}

main div p {
    align-self: start;
    margin-top: 31px;
}

main video {
    width: 100%;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    grid-column: 1/-1;
    justify-content: center;
    align-items: center;
    background-color: #50e6ff;
}

footer div {
    display: flex;
    align-items: center;
    width: 123px;
    justify-content: space-between;
    margin-bottom: 5px;
}

footer img {
    width: 30px;
}

/* Pagina de vídeo */

#containerVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#containerVideo video {
    width: 800px;
}

/* Responsividade Celulares*/

/* Index */
@media screen and (min-device-width: 280px) and (max-device-width: 500px) {
    header h1 {
        font-size: 110%;
        margin-left: -5%;
    }
    header a img {
        width: 80%;
    }
    header form {
        justify-content: flex-end;
    }
    input {
        width: 60%;
    }
    header form button img {
        width: 63%;
        padding-top: 4px
    }

    nav a {
        font-size: 90%;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10%;
    }
    main div {
        height: 15%;
    }
    main div p {
        margin-bottom: 5%;
        align-self: center;
        margin-top: 6%;
    }
    
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    footer img {
        width: 22%;
    }
    footer div {
        display: flex;
        justify-content: space-evenly
    }

    /* Página Vídeos */
    #containerVideo {   
        display: flex;
    } 

    #containerVideo video {
        width: 90%;
        margin-top: 12%;
    }
}